

<div class='container'>

	<div class='jumbotron text-center'>
		<h1>Project2 Email Form</h1>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center">
			<form action="/sendEmail" method="POST">
				<input type="text" name="name" placeholder="Enter Name">
				<input type="email" name="email" placeholder="Enter Email">
				<button type='submit'>submit</button>
			</form>
		</div>
	</div>

</div>

